<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050691563108-qvhhja6dn0vhcta4410jqafvahprdsrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050691563108-qvhhja6dn0vhcta4410jqafvahprdsrq</string>
	<key>API_KEY</key>
	<string>AIzaSyBMlf2u7pEFJbU9g21Fy4h3Q83LQljSRgA</string>
	<key>GCM_SENDER_ID</key>
	<string>1050691563108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.BirthdayReminder</string>
	<key>PROJECT_ID</key>
	<string>birthday-reminder-482fc</string>
	<key>STORAGE_BUCKET</key>
	<string>birthday-reminder-482fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050691563108:ios:f2757501c020b43ab7b971</string>
</dict>
</plist>